body{
  background-color: azure;
}

.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Map{
  width: 1200px;
  border-style: double;
}

.Zoom{
 zoom: 1;
 
}